/* Empty. Add your own CSS if you like */

.timePickerColon {
  padding-top: 40px;
  text-align: center;
  font-weight: bold;
}

.timePickerArrows {
  width: 100%;
}

.timePickerBoxText {
  height: 40px;
  text-align: center;
  border: 1px solid #dddddd;
  font-size: 16px;
  padding-top: 5px;
}

.overflowShow {
  white-space: normal !important;
}
